.header {
    text-align: center;
    margin-top: 3.5vw;
}

.description {
    text-align: center;
    margin: 1vw 5vw;
}

.buttons {
    margin-top: 4vw;
    text-align: center;
}

.button {
    width: 8vw;
    height: 3vw;
    font-size: 1.2vw;
    background-color: gold !important;
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}
