.info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.header {
    font-size: 3vw;
}

.button {
    margin-top: 2vw;
    width: 10vw;
    height: 4vw;
    font-size: 1.2vw;
    background-color: gold !important;
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}
