.info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.header {
    font-size: 2.5vw;
    font-family: "BreeSerif";
    margin-top: 3vw;
}

.button {
    margin-top: 2vw;
    width: 12vw;
    height: 4vw;
    font-size: 1.2vw;
    background-color: gold !important;
    -webkit-box-shadow: -2px 0 15px rgb(250, 102, 10);
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}

.description {
    font-size: 1.6vw;
    font-family: "Montserrat-Regular";
}

.roulette-animation {
    width: 8vw;
    height: 8vw;
    margin: 0 auto;
    background-image: url("../../../../media/roulette.png");
    background-size: cover;
    background-color: transparent !important;

    -webkit-animation: spin 6000ms;

    animation: spin 6000ms;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
