.modal {
    z-index: 11;
}

.close-button {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    font-size: 1.3rem;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}

.header {
    margin-top: 2vw;
    font-size: 2.5vw;
    font-family: "BreeSerif";
}
.header-restart {
    margin-top: 4vw;
    font-size: 2.5vw;
    font-family: "BreeSerif";
}

.price {
    margin-top: 1vw;
    font-family: "Montserrat-Regular";
    font-size: 1.6vw;
}

.action {
    font-size: 1.6vw;
    text-align: center;
    font-family: "Montserrat-Regular";
}

.button {
    width: 7vw !important;
    height: 2vw !important;
    background-color: gold !important;
    -webkit-box-shadow: -2px 0 15px rgb(250, 102, 10);
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}
.buttons-group {
    padding-top: 1.8vw;
}

.button:hover {
    background-color: rgb(222, 189, 4) !important;
}
