.modal {
    z-index: 11;
}

.close-button {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    font-size: 1.3rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
}

.header {
    margin-top: 4vw;
    font-size: 2vw;
}

.price {
    margin-top: 1vw;
    font-size: 1.3vw;
}

.action {
    font-size: 2vw;
    text-align: center;
}

.button {
    background-color: gold;
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}

/* FOR RESTART MODAL */

.restart h1 {
    margin-top: 8vw;
}
