/* input rows disabled */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}

/* general */

.empty-array {
    margin: 4vh auto;
}

.arg-button {
    width: 3vw;
    text-align: center;
}

.active-player {
    font-size: 1.6vw;
    font-family: "Montserrat-Regular";
    position: absolute;
    top: -0.8vw;
    left: 0.6vw;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.3vw 0.4vw;
}

.header {
    margin: 1vw 0 1vw 0;
    text-align: center;
    font-size: 2vw;
    font-family: "BreeSerif";
}

.scroll {
    text-align: center;
    margin-bottom: 1vw;
    -webkit-animation: fade 800ms ease-out;
    animation: fade 800ms ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
    0% {
        opacity: 50%;
        scale: 100%;
    }
    50% {
        opacity: 100%;
        scale: 1.1;
    }
    100% {
        opacity: 50%;
        scale: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 50%;
        scale: 100%;
    }
    50% {
        opacity: 100%;
        scale: 1.1;
    }
    100% {
        opacity: 50%;
        scale: 100%;
    }
}
.fields-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    overflow: auto;
}

.field-number {
    font-family: "Montserrat-Regular";
    font-size: 1.5vw;
    text-align: center;
    margin: 0.5vw auto 0.5;
    border-bottom: 3px solid #000;
}

.quantity {
    font-family: "Montserrat-Regular";
    margin: 0.5vw 0;
    font-size: 0.7vw;
    text-align: center;
}

.field {
    margin: 3vw 0.6vw 3vw;
    height: 9.5vw;
    min-width: 7vw;
    color: black;
    overflow: auto;

    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.7rem;

    background-color: white;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 0.5vw;
}

.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* commercial */

.field-c {
    margin: 3vw 0.6vw;
    height: 15vw;
    width: 10vw;
    color: black;
    overflow: scroll;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.7rem;

    background-color: white;
}

.controls-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 0.5vw;
}
/* /////// */
