.commercial-building {
    margin-top: 12rem;
}
.buttons-list {
    display: flex;
    flex-direction: row;
}
.building-fields {
    margin-left: 1rem;
}
.button-fields {
    font-size: 2rem;
    width: 100%;
    height: 100%;
}
