.close {
    position: absolute;
    right: 0.4rem;
    top: 0.5rem;
    font-size: 1rem;
    padding: 0.2vw 0.5vw;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid gray;
}

.simple {
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(227, 226, 226);
    color: black;

    width: 5vw;
    height: 2vw;
    margin: 0.7vw 0.7vw;
    border: none;
}

.arg-button {
    background-color: rgb(227, 226, 226);
    border-radius: 4px;
    padding: 0.2vw 1vw;
    border: none;
}

.arg-button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}
.simple:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}
.close:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.arg-button:active {
    background-color: rgb(227, 226, 226);
}
.simple:active {
    background-color: rgb(227, 226, 226);
}
.close:active {
    background-color: rgb(227, 226, 226);
}
