.field {
    grid-area: f;
    background-color: #ffffff;
    width: 99.5%;
    height: 99.15%;

    margin-bottom: 0.2rem;
}

li {
    list-style-type: none;
}

.moove-button {
    margin: 1rem 47% 0rem;
}

.dice {
    margin: 0.7rem 30%;
}

p {
    margin: 0 30%;
}

.sell-stocks {
    margin-left: 30%;
    height: 3rem;
}

.control-buttons--group {
    display: flex;
    flex-direction: row;
    width: 15rem;
    margin-left: 25%;
}

.control-buttons--group button {
}
