:root {
    --mainField-color: white;
    --comField-color: rgb(232, 122, 31);
    --roulette-color: radial-gradient(
        circle,
        rgba(251, 167, 63, 1) 0%,
        rgba(107, 225, 66, 1) 20%,
        rgba(66, 251, 174, 1) 38%,
        rgba(66, 182, 247, 1) 59%,
        rgba(67, 105, 215, 1) 78%,
        rgba(219, 70, 252, 1) 100%
    );
}

/* ------- UP LINE --------*/

.start,
.f13,
.f25,
.f37 {
    background-color: grey !important;
}

.start p {
    display: block;
    position: absolute;
    right: 0.5vw;
    font-size: 1.3vw;
    margin: 0;
    color: white;
}

.f40,
.f4,
.f16,
.f28 {
    background-color: var(--comField-color) !important;
}

.roulette {
    background-image: url("../media/roulette.png");
    background-size: cover;
}
.roulette p {
    margin: 0.1vw auto;
    font-size: 1.3vw;
    color: rgb(67, 67, 67);
}

.f12,
.f24,
.f36,
.f48 {
    background-image: url(../media/jailImage.png);
    background-size: cover;
    background-position: 50% 1%;

    color: black;
}
