li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.7rem;
    height: 7vh;
    width: 7.3vw;

    background-color: greenyellow;
}

/* ------- UP LINE --------*/

.f1 {
    background-color: grey;
}

.f1 p {
    font-size: 1.3rem;
    margin: 0;
}
.f2 {
}
.f3 {
}
.f4 {
    background-color: burlywood;
}
.f5 {
}
.f6 {
}
.f7 {
    background-color: red;
}
.f8 {
}
.f9 {
}
.f10 {
}
.f11 {
}
.f12 {
    background-color: black;
    color: white;
}
.f13 {
    background-color: grey;
}

/*  ------ RIGTH LINE ------ */

.f14 {
}
.f15 {
}
.f15 {
}
.f16 {
    background-color: burlywood;
}
.f17 {
}
.f17 {
}
.f18 {
}
.f19 {
    background-color: red;
}
.f20 {
}
.f21 {
}
.f22 {
}
.f23 {
}
.f24 {
    background-color: black;
    color: white;
}

/*  ------ DOWN LINE ------ */

.f25 {
    background-color: grey;
}
.f26 {
}
.f27 {
}
.f28 {
    background-color: burlywood;
}
.f29 {
}
.f30 {
}
.f31 {
    background-color: red;
}
.f32 {
}
.f33 {
}
.f34 {
}
.f35 {
}
.f36 {
    background-color: black;
    color: white;
}
.f37 {
    background-color: grey;
}

/*  ------ LEFT LINE ------ */

.f38 {
}
.f39 {
}
.f40 {
    background-color: burlywood;
}
.f41 {
}
.f42 {
}
.f43 {
    background-color: red;
}
.f44 {
}
.f45 {
}
.f46 {
}
.f47 {
}
.f48 {
    background-color: black;
    color: white;
}
