.info {
    text-align: center;
}

.header {
    font-size: 3vw;
}

.header2 {
    font-size: 2.2vw;
}

.button {
    background-color: gold !important;
    box-shadow: -2px 0 15px rgb(250, 102, 10);
}
