.modal {
    width: 14vw;
    height: 6vw;
    position: fixed;
    right: 32vw;
    top: -15%;
    padding: 1vw;
}

.header {
    text-align: center;
    margin-top: 0.7vw;
    font-size: 1.7vw;
    font-family: "Montserrat-Regular";
}

.animation-downslide {
    -webkit-animation: downslide 1000ms ease-out;
    animation: downslide 1000ms ease-out;
}

@-webkit-keyframes downslide {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes downslide {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 100%;
    }
}
