.modale {
    background-color: rgb(223, 20, 20);
    z-index: 15;
}

.info {
    text-align: center;
}

.header {
    font-size: 2.5vw;
    margin: 2vw 5vw 1vw;
}

.description {
    font-size: 1.8vw;
}

.button {
    background-color: white;
    color: rgb(99, 99, 99);
    font-size: 1.5vw;
}
