.backdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 80%;
    position: fixed;
    background-color: black;
    z-index: 14;
}

.modal {
    margin: 35vh 35vw;
    width: 25rem;
    height: 16rem;
    background-color: brown;
    position: fixed;
    z-index: 15;
}

.close-button {
    margin: 0rem 44%;
    font-size: 1.3rem;
}
