.control-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.header {
    text-align: center;
}

.input {
    text-align: center;
    margin-top: 2vw;
}

.control-buttons {
    margin-top: 3vw;
    display: flex;
}

.button {
    font-size: 1vw;
}
