.info {
    font-size: 0.6rem;
    height: 50vh;
    width: 11vw;
    margin: 1.1vw 0.9vw 1.1vw 0.2vw;
    color: white;
}

.control-buttons--group {
    display: flex;
    flex-direction: column;
}

.active {
    color: grey;

    border-color: grey;
}
.active-buttons {
    background-color: grey;
}

.player-name {
    margin-left: 1vw;
    font-size: 2vw;
    text-align: center;
}

.player-info {
    margin-left: 1vw;
    font-size: 1vw;
    text-align: center;
}
