.modal {
    margin: 16vw 30vw;
    width: 40vw;
    height: 25vw;
    background-color: black;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 6px;
    position: fixed;
    z-index: 10;
    color: white;
}

.animation-bums {
    animation: appear 300ms ease-out;
}
@keyframes appear {
    0% {
        scale: 0.2;
        opacity: 0;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}
