.modal {
    margin: 16vw 30vw;
    width: 40vw;
    height: 25vw;
    background-color: black;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 6px;
    position: fixed;
    z-index: 10;
    color: white;
}
