.modal-props {
    background-image: url("../../../media/roulesImage.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 65%;
    top: -8%;
    left: -10vw;
    overflow: scroll;
}

.close-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid gray;
}

.info {
    text-align: center;
    width: 35vw;
    height: 85%;
    margin: 4% auto;
    overflow-y: scroll;
}

.module {
    text-align: left;
}

.text {
    text-align: left;
    font-family: "Montserrat-Regular";
    font-size: 1.2vw;
}
